.grid-container {
    display: grid;
    grid-template-columns: 950px 217px 92px 60px 92px 217px 44px 170px 72px;
    grid-template-rows: 94px 75px 173px 55px 82px 61px 62px 95px 212px 59px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.grid_fon {
    grid-column: 1 / 9;
    grid-row: 1 / 11;
    margin: 0;
}
.grid_menu {
    grid-column: 3 / 9;
    grid-row: 1;
    margin: auto;
    text-align: center;
    word-spacing: 65px;
}
.t_menu {
    color: #e2e0df;
    align-items: center;
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
    font-size: 18px;
    font-family: 'Arial';
}
.t_menu:nth-child(2) {
    word-spacing: normal;
}
.t_menu:hover {
    color: #7cbdc5;
}
.grid_logo {
    grid-column: 3 / 6;
    grid-row: 3;
    margin: auto;
}
.grid_name {
    grid-column: 2 / 7;
    grid-row: 5;
    margin: auto;
}
.text_name {
    color: #e2e0df;
    align-items: center;
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
    font-size: 75px;
    font-family: 'Gabriela';
}
.grid_coffe1 {
    grid-column: 3;
    grid-row: 6;
    margin: auto;
}
.grid_coffe2 {
    grid-column: 4;
    grid-row: 6;
    margin: auto;
}
.grid_coffe3 {
    grid-column: 5;
    grid-row: 6;
    margin: auto;
}
.no_per {
    white-space: nowrap;
}
.grid_text {
    grid-column: 2 / 7;
    grid-row: 7;
    margin: auto;
    text-align: center;
}
.text_t {
    color: #e2e0df;
    align-items: center;
    align-self: center;
    text-decoration: none;
    margin-left: auto;
    font-size: 14px;
    font-family: 'Arial';
}
.grid_text_2 {
    grid-column: 2 / 7;
    grid-row: 8;
    margin: auto;
    text-align: center;
}
.grid_strelk {
    grid-column: 8;
    grid-row: 6;
    cursor: pointer;
    margin-top: -10px;
}
.strelk {
    color: #e2e0df;
    font-size: 70px;
}
.strelk:hover {
    color: #7cbdc5;
}
.grid_scrol {
    grid-column: 1 / 9;
    grid-row: 10;
    margin: auto;
}
.scrol_a {
    color: #7cbdc5;
    font-size: 40px;
    cursor: pointer;
}
.scrol_b {
    color: #e2e0df;
    font-size: 40px;
    cursor: pointer;
}